{% extends "layout.html" %}

{% block content %}

<meta charset="utf-8" />
<div class="jumbotron" >
    <h1>Nyaaabeou</h1>
</div>
<body>
    <div class="introintro">
        <h2>nabeou sesame jerky and nekoshark02</h2>
        <h3>Helloooo world!!!!!</h3>
        <p>very poor programer and control engineer</p>
        <div class="images">
            <img src="https://dic.nicovideo.jp/oekaki/819452.png" title="nabeou" alt="nabeou" class="img-nabeou" />
            <img src="https://i.pinimg.com/originals/71/4c/48/714c486eb772a51a5ca1f1dcdd7af91e.gif" title="nekoshark02" alt="nekoshark02" class="img-neko02" />
        </div>
    </div>

    <div class="skillpassage">
        <h2>Introduce</h2>
        <h4>If you want much more information about me, please click the link!</h4>
        <a href="/about">Click!</a>
        <div class="introducebox">
            <h3>Who I am?</h3>
            <p>School : National Institute of Technology, Suzuka College</p>
            <p>Department : Electrical and Electronic Engineering</p>
            <p>Age : 16</p>
            <p>Hobby : Drowing pictures, Control Engineering, Programing, Playing Bass etc...</p>
        </div>
    </div>
</body>


{% endblock %}
